{% extends 'base.html' %}

{%block content %}

{% for post in posts %}
<a class="text-white text-decoration-none" href="{% url 'post_detail' post.pk %}">
    <div class="card bg-dark text-white mb-3">
        <div class="card-body">
            <a class="nav-link text-grey text-decoration-none" href="{% url 'profile' post.author.pk %}">
                <h2>{{ post.author }}</h2>
            </a>
            <p>{{ post.content }}</p>
            <small>{{ post.date }}</small>
        </div>
    </div>
</a>
{% endfor %}

{% endblock content %}