{% extends 'base.html' %}

{%block content %}

{% for post in posts %}
<a class="text-white text-decoration-none" href="{% url 'post_detail' post.pk %}">
    <div class="card bg-dark text-white mb-3">
        <div class="card-body">
            <a class="nav-link text-grey text-decoration-none" href="{% url 'profile' post.author.pk %}">
                <h2>{{ post.author }}</h2>
            </a>

        
            <a class="text-white text-decoration-none" href="{% url 'post_detail' post.pk %}">
                <p>{{ post.content }}</p>

                <div class="d-flex gap-3">
                    <form action="{% url 'like_post' post.pk %}" method='post'>
                        {% csrf_token %}
                        <button type="submit">
                            <i class="bi bi-hand-thumbs-up"></i> {{ post.likes.count }}
                        </button>
                    </form>

                    <form action="{% url 'add_comment' post.pk %}" method="post">
                        {% csrf_token %}

                        <button type="submit">
                            <i class="bi bi-chat"></i>
                        </button>
                    </form>

                    <form action="{% url 'repost' post.pk %}" method="post">
                        {% csrf_token %}

                        <button type="submit">
                            <i class="bi bi-repeat"></i> {{ post.reposts.count}}
                        </button>
                    </form>
                </div>

                <small>{{ post.date }}</small>
            </a>
        </div>
    </div>
</a>
{% endfor %}

{% endblock content %}